# .env.example
NEXT_PUBLIC_GEMINI_API_KEY=
GROQ_API_KEY=
DATABASE_URL=
NEXT_PUBLIC_API_URL=

# Auth (NextAuth)
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_RESEND_KEY=
AUTH_SECRET=
